@import url(http://fonts.googleapis.com/css?family=Rancho|Lato|Inconsolata);

html {
    margin: 0;
    padding: 0;
    background-color: #EFE0CD;
}

body {
    font-size: 18px;
    width: 1100px;
    margin: 0 auto;
    padding: 0;
    color: #402315;
    text-shadow: 0 1px 0 rgba(130, 102, 71, .3);
    font-family: Lato;
}

h1, h2, h3 {
    font-family: Rancho;
    color: #663822;
}

h1 {
    text-align: center;
    font-size: 2.2em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.8em;
    margin: 30px 0 18px;
}

a {
    color: #314E6C;
}

a:visited {
    color: #494066;
}

img.block {
    display: block;
    margin: 12px auto;
    box-shadow: 2px 2px 24px rgba(0, 0, 0, .3);
}

code, pre {
    font-family: Inconsolata, monospace;
}

code {
    background-color: #F0D7B6;
    padding: 3px 4px;
    border-radius: 1px;
}

pre.search-input {
    border: thin solid #B39169;
    box-shadow: inset 0 1px 2px rgba(179, 145, 105, .7); /* same color as border */
    border-radius: 2px;
    padding: 6px 12px;
    font-size: 1.1em;
}

/* I'm not very sure about this? *
pre.search-input:after {
    content: "│";
    opacity: .7;
    text-decoration: blink;
}
*/

.exp {
    background-color: #D1940C;
    border-radius: 4px;
    padding: 4px 8px;
    color: #EED6E0;
    font-size: .8em;
    font-style: normal;
}

footer {
    border-top: thin solid gray;
    margin-top: 18px;
    padding-top: 6px;
    margin-bottom: 12px;
    text-align: center;
    opacity: .7;
}
